#!/usr/bin/make -f

#DH_VERBOSE=1

configure_flags += \
		--disable-pymod-checks \
		--with-webkit


%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- 	$(configure_flags)

override_dh_install:
	#Remove .la, .a, pyo and pyc files.
	find debian/tmp/usr/lib/ -name *.a |xargs rm
	find debian/tmp/usr/lib -name *.la |xargs rm
	find debian/tmp/usr/lib -name *.pyc |xargs rm
	find debian/tmp/usr/lib -name *.pyo |xargs rm
	dh_install --fail-missing

override_dh_auto_test:
	#Pass, tests don't pass for now.
